@{
    ViewBag.Title = "App Marketing";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>El Sistema de Marketing permitirá soportar funcionalidades no cubiertas, se prevé la gestión de canales, y gestión pre-venta y post-venta.</p>
