@{
    ViewBag.Title = "App Marketing";
}

<div class="jumbotron" style="background-image:url('http://www.calimod.com.pe/es/wp-content/uploads/2012/07/53003_URBANO.jpg'); background-position: -490px -30px;">
    <h1>APP MKT</h1>
    <p class="lead"></p>
    <p><a href="" class="btn btn-primary btn-lg">M&aacute;s sobre Calimod &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CALIMOD</h2>
        <p>
            Calimod es una marca peruana de calzado con presencia nacional y con 49 años en el mercado, cuyos modelos se caracterizan por ser 100% de cuero. Calimod brinda comodidad, seguridad y elegancia, con diseños innovadores en sus 3 líneas: vestir, casual y urbano, ideales para cualquier ocasión.
        </p>
        <p><a class="btn btn-default" href="http://www.calimod.com.pe/es/">M&aacute;s sobre Calimod &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestión de Marketing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod leo vel leo euismod, mattis sodales metus fermentum. Nulla luctus massa vitae mauris pellentesque porttitor.</p>
        <p><a class="btn btn-default" href="http://www.calimod.com.pe/es/">Leer m&aacute;s &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ayuda</h2>
        <p>Vivamus eu tincidunt nisl, vel auctor urna. Proin nisl ex, eleifend et eleifend in, sollicitudin vel enim. Aenean suscipit porttitor maximus.</p>
        <p><a class="btn btn-default" href="http://www.calimod.com.pe/es/">Leer m&aacute;s &raquo;</a></p>
    </div>
</div>